<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HKMall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>974418DC1B12DCF600299111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>974418EB1B12DD1F00299111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDF26DDB1AC2576B002D1AF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDF26DF71AC2576B002D1AF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
